@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use '../tools/functions' as *;

$color-pack: true !default;
$reset: true !default;

$body-font-family: 'Roboto', sans-serif !default;
$font-size-root: 1rem !default;
$line-height-root: 1.5 !default;
$border-color-root: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$border-radius-root: 4px !default;
$border-style-root: solid !default;

$rounded: () !default;
$rounded: map-deep-merge(
  (
    0: 0,
    'sm': $border-radius-root * .5,
    null: $border-radius-root,
    'lg': $border-radius-root * 2,
    'xl': $border-radius-root * 6,
    'pill': 9999px,
    'circle': 50%,
    'shaped': $border-radius-root * 6 0
  ),
  $rounded
);

$spacer: 4px !default;

$grid-gutter: $spacer * 6 !default;

$grid-gutters: () !default;
$grid-gutters: map-deep-merge(
  (
    'xs': math.div($grid-gutter, 12),
    'sm': math.div($grid-gutter, 6),
    'md': math.div($grid-gutter, 3),
    'lg': math.div($grid-gutter * 2, 3),
    'xl': $grid-gutter,
  ),
  $grid-gutters
);

$font-weights: () !default;
$font-weights: map-deep-merge(
  (
    'thin': 100,
    'light': 300,
    'regular': 400,
    'medium': 500,
    'bold': 700,
    'black': 900
  ),
  $font-weights
);

$border-radiuss: () !default;
$border-radiuss: map-deep-merge(
  (
    'br1': (
      'border-radius': 0.25rem,
    ),
    'br2': (
      'border-radius': 0.5rem,
    ),
    'br3': (
      'border-radius': 0.75rem,
    ),
    'br4': (
      'border-radius': 1rem,
    ),
    'br5': (
      'border-radius': 1.5rem,
    ),
    'br6': (
      'border-radius': 2rem,
    ),
    'br7': (
      'border-radius': 2.5rem,
    ),
    'br8': (
      'border-radius': 3rem,
    ),
    'br9': (
      'border-radius': 3.5rem,
    ),
    'br10': (
      'border-radius': 4rem,
    ),
    'br11': (
      'border-radius': 4.5rem,
    ),
    'br12': (
      'border-radius': 5.5rem,
    ),
    'br13': (
      'border-radius': 6rem,
    ),
    'br14': (
      'border-radius': 7.5rem,
    ),
  ),
  $border-radiuss
);

$typography: () !default;
$typography: map-deep-merge(
  (
    'h1': (
      'font-size': 6rem,
      'font-weight': 300,
      'line-height': 6rem,
      'letter-spacing': -.015625em,
      'text-transform': none
    ),
    'h2': (
      'font-size': 3.75rem,
      'font-weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -.0083333333em,
      'text-transform': none
    ),
    'h3': (
      'font-size': 3rem,
      'font-weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
      'text-transform': none
    ),
    'h4': (
      'font-size': 2.125rem,
      'font-weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': .0073529412em,
      'text-transform': none
    ),
    'h5': (
      'font-size': 1.5rem,
      'font-weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'text-transform': none
    ),
    'h6': (
      'font-size': 1.25rem,
      'font-weight': 500,
      'line-height': 2rem,
      'letter-spacing': .0125em,
      'text-transform': none
    ),
    'subtitle-1': (
      'font-size': 1rem,
      'font-weight': normal,
      'line-height': 1.75rem,
      'letter-spacing': .009375em,
      'text-transform': none
    ),
    'subtitle-2': (
      'font-size': .875rem,
      'font-weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': .0071428571em,
      'text-transform': none
    ),
    'body-1': (
      'font-size': 1rem,
      'font-weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': .03125em,
      'text-transform': none
    ),
    'body-2': (
      'font-size': .875rem,
      'font-weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': .0178571429em,
      'text-transform': none
    ),
    'button': (
      'font-size': .875rem,
      'font-weight': 500,
      'line-height': 2.25rem,
      'letter-spacing': .0892857143em,
      'text-transform': uppercase
    ),
    'caption': (
      'font-size': .75rem,
      'font-weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': .0333333333em,
      'text-transform': none
    ),
    'overline': (
      'font-size': .75rem,
      'font-weight': 500,
      'line-height': 2rem,
      'letter-spacing': .1666666667em,
      'text-transform': uppercase
    )
  ),
  $typography
);



$standard-easing: cubic-bezier(0.4, 0, 0.2, 1) !default;

$sizes: (
  'x-small',
  'small',
  'default',
  'large',
  'x-large'
) !default;

$size-scale: $spacer * 1.4 !default;
$size-scales: (
  'x-small': -2,
  'small': 1,
  'default': 1,
  'large': 1,
  'x-large': 2
) !default;
